
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

.boxgap{
	padding: 0px 15px;
}

.boxgap>.boxes{
	color: #333333;
	baclground: #FFFFFF;
	margin: 0px 0px 20px;
}

.boxgap>.boxes>.boxhead{
	background: #337AB7;
	color: #FFFFFF;
	padding: 10px 15px;
}

.boxgap>.boxes>.boxbody{
	padding: 15px;
}

.boxgap>.boxes>.boxfoot{
	color: #333333;
	background: #F5F5F5;
	padding: 10px 15px;
}

